enable-pre-post-scripts=true
auto-install-peers=true
strict-peer-dependencies=false

# Allow all build scripts to run
public-hoist-pattern=*
node-linker=hoisted
shamefully-hoist=true
auto-approve-esbuild=true
auto-approve-builds=true